<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSBestellungDB.Properties.Settings.BestellConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;\\psf\Google Drive\Schule\POS\20142015\Beispiele\DB\CSBestellungDB\Bestell.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>